RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^/media http://example.com/ [R=301,L]
# not sure if the '/' after '^' should be there, so remove if not working