DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^ index.php [L]

RewriteRule !^(public/|index\.php) [NC,F]

Options -Indexes
ErrorDocument 403 /.error/error.php?p=404
